.header {
	display: flex;
	height: 70px;
	justify-content: space-between;
	margin-bottom: 25px;
	width: 100%;

	.options {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-end;
		width: 50%;

		//noinspection Stylelint
		.option {
			color: #000;
			cursor: pointer;
			padding: 10px 15px;
		}
	}
}
